html, body
{
    padding: 0;
    margin: 0;
    max-width: 1440px;
    max-height: 500px;
}

body
{
    overflow-y: hidden;
    background-image: url(../img/фон321.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nameClub
{
    position: absolute;
    margin-top: 15px;

    font-family: "Montserrat-SemiBold";

    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;

    color: white;
}

.qr
{
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.logo
{
    margin-top: 15px;
    width: 150px;
    height: 120px;
}

.numberSubscription
{
    margin-top: 58px;
}

.numberSubscription, .FIO , .dateOfEnd
{
    font-family: "Montserrat-Regular";
    color: black;
    font-size: 48px;
}

@font-face
{
    font-family: "Montserrat-SemiBold";
    src: url("../fronts/Montserrat-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face
{
    font-family: "Montserrat-Regular";
    src: url("../fronts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}